## C/C++
# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

## EnergyPlus
# Output files
*.audit
*.bnd
*.dxf
*.edd
*.eio
*.err
*.eso
*.mdd
*.mtd
*.mtr
*.rdd
*.rvaudit
*.shd
*.sql

# Users need to manually ignore .csv, .svg, and .html outputs from EnergyPlus

## Java
# Class Files
*.class

# Package Files
*.jar
*.war
*.ear

## LaTeX
# Outputs
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

## MATLAB / Simulink
# Compiled files
*.mex
*.mexw64
*.lnk

# Project directories
slprj/

# Data files
*.mat